services:
  livekit:
    image: livekit/livekit-server:v1.8.0
    container_name: peekle-livekit-standalone
    # command: --node-ip ${PUBLIC_IP:-127.0.0.1}
    restart: unless-stopped
    network_mode: "host"
    volumes:
      - docker_nginx-certs:/etc/letsencrypt:ro
      - ./livekit.yaml:/livekit.yaml
    command: --config /livekit.yaml
    user: root # Required to read /etc/letsencrypt/live keys (chmod 600 root)
    environment:
      - "LIVEKIT_KEYS=livekit_api_key: peekle_livekit_secret_at_least_32_chars_long"


volumes:
  docker_nginx-certs:
    external: true

networks:
  peekle-network:
    external: true
    name: docker_peekle-network
