# Dependencies
node_modules

# Build outputs
dist
build

# Development
.env*.local
.env.development
.env.test

# IDE
.idea
.vscode
*.swp
*.swo

# Testing
coverage
.nyc_output

# Misc
.git
.gitignore
*.md
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Database
*.sqlite
*.db
